<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="console">
			<PatternLayout>
				<Pattern>%p - %d %l %m %n</Pattern>
			</PatternLayout>
		</Console>
		<File name="MyFile" fileName="C:/logs/placement.log">
			<PatternLayout>
				<Pattern>%p - %d %l %m % n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="console" />
			<AppenderRef ref="MyFile" />
		</Root>
	</Loggers>
</Configuration>